main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.chat-container {
  width: 100%;
  row-gap: 26px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--colors-light);
  overflow-y: auto;
  scrollbar-width: thin;
  position: relative;
}

.chat-container::-webkit-scrollbar {
  width: 5px;
}

.chat-container::-webkit-scrollbar-track {
  background-color: var(--colors-pink);
}

.chat-container::-webkit-scrollbar-thumb {
  border: 4px solid #c91b0b;
}

.clean-conversation {
  position: absolute;
  bottom: 95px;
  right: 20px;
}

.clean-conversation button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 3px;
  background-color: var(--colors-pink);
  box-shadow: 0 0 3px var(--colors-pink);
}

.clean-conversation button svg {
  width: 24px;
}

.chat-message {
  display: flex;
  width: 100%;
  align-items: center;
}

.chat-message.owner {
  flex-direction: row-reverse;
}

.chat-message p {
  padding: 5px;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  font-weight: 400;
  font-size: calc(1rem * 12 / 16);
  color: var(--colors-light);
  background-color: var(--colors-red);
  max-width: 60%;
  white-space: pre-wrap;
}

.chat-message.owner {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 0;
}

.chat-message.owner p {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 0;
  background-color: var(--colors-pink);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 5px;
  column-gap: 16px;
  background-color: var(--colors-brown);
}

.input-container textarea {
  border-radius: 5px;
  background-color: var(--colors-pink);
  min-width: 245px;
  width: 80%;
  color: var(--colors-dark);
  box-shadow: 0 0 2px var(--colors-pink);
  font-size: calc(1rem * 13 / 16);
  font-weight: 400;
  padding: 5px;
  resize: none;
  overflow: hidden;
}

.input-container svg {
  width: 32px;
  height: 32px;
}

#loading-text {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 5px 10px;
}

#loading-text span {
  animation: bounceLow 0.6s ease-in-out infinite;
  font-weight: bold;
}

#loading-text span:nth-of-type(2) {
  animation-delay: 0.1s;
}

#loading-text span:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounceLow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

@keyframes bounceHigh {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 1200px;
    row-gap: 30px;
    height: auto;
  }

  #loading-text {
    column-gap: 8px;
    padding: 8px 16px;
  }

  #loading-text span {
    animation: bounceHigh 0.6s ease-in-out infinite;
  }

  .chat-container {
    height: calc(90vh - 45px - 67px) !important;
    padding: 20px 50px;
    border-radius: 5px;
  }

  .chat-message p {
    font-size: calc(1rem * 14 / 16);
    padding: 10px;
  }

  .input-container {
    column-gap: 20px;
    padding: 0;
  }

  .input-container textarea {
    font-size: calc(1rem * 18 / 16);
    padding: 8px;
    width: 95%;
    box-shadow: 0 0 4px var(--colors-pink);
    height: 70px;
  }

  .input-container svg {
    width: 40px;
    height: 40px;
  }

  .clean-conversation {
    bottom: 117px;
    right: 18px;
  }

  .clean-conversation button {
    border-radius: 7px;
    padding: 7px;
    box-shadow: 0 0 5px var(--colors-pink);
  }

  .clean-conversation button svg {
    width: 32px;
  }
}
